#main-header {
  background: url("../../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  color: #333;
  position: relative;
}
#main-header h1 {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 2%;
  font-family: "Festive", cursive;
  font-size: 3rem;
}
